.pdf-content{
    .pdf-page{
        height: 742px;
        width: 470px,
    }

    h1, h2, h3, p{
        font-family: "Montserrat", sans-serif;
    }

    p{
        font-size: 10px;
    }

}

.center-x-axis{
    position: absolute; /* postulat de départ */
    left: 50%; /* à 50%/50% du parent référent */
    transform: translateX(-50%); /* décalage de 50% de sa propre taille */
}