{% extends 'base.html.twig' %}

{% block title %}Account request{% endblock %}

{% block body %}
    <div class="p-5">
        <h1>Contact Us</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nec vitae integer libero pharetra.
            Imperdiet
            tempor quam at sit. Dignissim nulla morbi sodales iaculis lacus ut mollis fermentum commodo.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nec vitae integer libero pharetra.
            Imperdiet
            tempor quam at sit. Dignissim nulla morbi sodales iaculis lacus ut mollis fermentum commodo.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nec vitae integer libero pharetra.
            Imperdiet
            tempor quam at sit. Dignissim nulla morbi sodales iaculis lacus ut mollis fermentum commodo.
        </p>

        {{ include('contact/_form.html.twig') }}
    </div>
{% endblock %}
