<form method="post" action="{{ path('app_admin_account_request_delete', {'id': account_request.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ account_request.id) }}">
    <button class="btn wb-btn-delete">Refuser</button>
</form>
