{{ form_start(form, {'attr': {'class': 'form-group'}}) }}
    <div class="form-group">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn wb-btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
