{% extends 'base.html.twig' %}

{% block body %}
    <div class="row w-100 align-items-center m-0" id="about-cover">
        <div class="col-4 p-0 d-flex justify-content-center align-items-center"
             style="background-image: url('/images/hex-bg.png')">
            <h1 class="text-uppercase wb-text-white w-75">our beliefs values and spirits</h1>
        </div>
        <div class="col-8 p-0">
            <img src="/images/molecule.png" alt="cover" class="w-100"/>
        </div>
    </div>
    <div class="space framed-b framed-t d-flex justify-content-center align-items-center">
        <h2 class="text-uppercase">our beliefs</h2>
    </div>
    <div class="row w-100 align-items-center m-0">
        <div class="col-8 p-0">
            <img src="/images/triple-icons.svg" alt="cover" class="w-100"/>
        </div>
        <div class="col-4 p-0 d-flex flex-column framed-l">
            <div class="framed-b">
                <p class="p-5 w-75">
                    IOT can <strong>save R&D money</strong> and speed-up product launch tempo
                </p>
            </div>
            <div class="framed-b">
                <p class="p-5 w-75">
                    Repeatability of protocols increases <strong>reliability of results</strong>
                </p>
            </div>
            <div>
                <p class="p-5 w-75">
                    <strong>Data Science</strong> can help cosmetic scientists
                </p>
            </div>
        </div>
    </div>
    <div class="space framed-b framed-t d-flex justify-content-center align-items-center">
        <h2 class="text-uppercase">values and spirit</h2>
    </div>
    <div class="framed-b d-flex justify-content-center align-items-center">
        <p class="p-5 text-center w-75">
            Since the beginning, Wired Beauty has had 1 mission : bring evidence-based results to their clients rather
            than administer classical surveys.
            Hence the digitally enabled solutions. We have a strong entrepreneurial culture and constantly innovate to
            find new claims, data, new proofs and reduce the R&D cost and tempo.
            We aim to have a real impact on how consumers see brand performance. To help our clients, we establish new
            norms of excellence in cosmetic research.
        </p>
    </div>
    <div class="row w-100 align-items-center m-0">
        <div class="col-6 p-0 d-flex flex-column justify-content-center align-items-center framed-r framed-b">
            <div class="p-5 w-75 list-card">
                <h1 class="wb-text-secondary wb-text-20 text-uppercase text-center">client passion</h1>
                <ul>
                    <li>We focus on results with professionalism and constantly respect ethical codes.</li>
                    <li>We listen, we deliver.</li>
                    <li>We help our clients succeed.</li>
                </ul>
            </div>
        </div>
        <div class="col-6 p-0 d-flex flex-column justify-content-center align-items-center framed-b">
            <div class="p-5 w-75 list-card">
                <h1 class="wb-text-secondary wb-text-20 text-uppercase text-center">integrity and openess </h1>
                <ul>
                    <li>We say things as they are and research new frontiers open-mindedly.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row w-100 align-items-center m-0">
        <div class="col-6 p-0 d-flex flex-column align-items-center framed-r">
            <div class="p-5 w-75 list-card">
                <h1 class="wb-text-secondary wb-text-20 text-uppercase text-center">tech and consumer</h1>
                <ul>
                    <li>
                        We use technology to better understand consumer needs and life style as well as skin
                        reactions.
                    </li>
                    <li>We taylor our research to client objectives. In tubo, in vitro, in vivo.</li>
                    <li>We make it simple and save people time.</li>
                </ul>
            </div>

        </div>
        <div class="col-6 p-0 d-flex flex-column align-items-center">
            <div class="p-5 w-75 list-card">
                <h1 class="wb-text-secondary wb-text-20 text-uppercase text-center">one team</h1>
                <ul>
                    <li>
                        We team up with labs, and their CROs all over the worlds from the concept development or for
                        improved formulae.
                    </li>
                    <li>It feels different to work with us because our pêople are unlike any other.</li>
                    <li>We bring new perspectives: mutual trust and speed.</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}