{% extends 'base.html.twig' %}

{% block body %}
    <div class="row w-100 align-items-center m-0" id="about-cover">
        <div class="col-4 p-0 d-flex justify-content-center align-items-center"
             style="background-image: url('/images/hex-bg.png')">
            <h1 class="text-uppercase wb-text-white">our team</h1>
        </div>
        <div class="col-8 p-0">
            <img src="/images/mountain.png" alt="cover" class="w-100"/>
        </div>
    </div>
    <div class="w-100 framed-t framed-b">
        <img src="/images/lines.svg" alt="lines" class="w-100"/>
    </div>
    <div class="framed-b d-flex justify-content-center align-items-center">
        <p class="p-5 text-center w-75">
            Wired Beaty Technologies is a three-sided French tech team combining the intelligence of two seasoned
            cosmetic professionals lien vers bio sophie et Stan , the electro chemistry knowledge of our CRO partner in
            Toulouse (Qima : lien vers qima) and the scientific skin expertise of a renowned dermatologist Mrs Tu-ahn
            DUONG lien vers BIO of the Henri Mondor Hospital in Paris. lien vers APHP
            It is the quality of our employees and partners that build the trust we seek.
            Because of their singular competences and contagious energy, they help our clients improve and simplify
            skincare research data.
        </p>
    </div>
    <div class="row w-100 align-items-center m-0">
        <div class="col-6 p-0 d-flex flex-column align-items-center framed-r">
            <div class="p-5 w-75 list-card">
                <div></div>

            </div>

        </div>
        <div class="col-6 p-0 d-flex flex-column align-items-center">
            <div class="p-5 w-75 list-card">
                <h1 class="wb-text-secondary wb-text-20 text-uppercase text-center">one team</h1>
                <ul>
                    <li>
                        We team up with labs, and their CROs all over the worlds from the concept development or for
                        improved formulae.
                    </li>
                    <li>It feels different to work with us because our pêople are unlike any other.</li>
                    <li>We bring new perspectives: mutual trust and speed.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}