{% extends 'base.html.twig' %}

{% block title %}Make an estimation{% endblock %}

{% block body %}
    <div class="p-5 w-75 mx-auto">
        <div class="text-center mb-5">
            <h1 class="wb-text-48 text-uppercase">{{ 'estimation'|trans }}</h1>
        </div>

        <p class="mb-5">
            {{ 'At Wired Beauty, we share your mission to create a healthier world for everyone. Your goals matter and we’re
            here to help make sure they are met. Request information about our services so that we can meet your needs
            using the form below.'|trans }}
        </p>

        {{ include('estimation/_form.html.twig') }}
    </div>
{% endblock %}
