form > div > * {
  display: flex;
  align-items: start;

  > div {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

  }
}

label {
  margin-right: 10px;

  &.required:after {
    content: '*';
    color: red;
  }
}

input, textarea {
  border: solid 1px $dark_green;
}

#contact-form {
  div:first-child {
    flex: 0;
  }
}