
#about-cover {
  overflow: hidden;

  div:first-child {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
  }

  div:last-child {
    height: 600px;

    img {
      object-fit: cover;
      height: 100%;
    }
  }
}

.space {
  height: 80px;
}

.list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
}


.team-card {

  &:first-child {
    border-right: solid 1px $dark_green;
  }

  .team-desc {
    padding-top: 20px !important;
  }
}

#mapo-open {
  transform: translateY(80%);
}

#loginPage {
  form {
    width: 30vw;
  }

  img {
    //max-height: 50vh;
    object-fit: cover;
  }
}