<form method="post" action="{{ path('app_admin_estimation_request_delete', {'id': estimation_request.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estimation_request.id) }}">
    <button class="btn wb-btn-delete">Delete</button>
</form>
