{% extends 'admin.base.html.twig' %}

{% block title %}{{ 'New report'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new report'|trans }}</h1>

    <div>
        {{ include('admin/report/_form.html.twig') }}
    </div>

    <a href="{{ path('app_report_index') }}">back to list</a>
{% endblock %}
