<form method="post" action="{{ path('app_scientists_studies_delete', {'id': study.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ study.id) }}">
    <button class="btn wb-btn-delete">Delete</button>
</form>
