{% extends 'base.html.twig' %}

{% block body %}
    <div class="row w-100 align-items-center m-0" id="about-cover">
        <div class="col-4 p-0 d-flex justify-content-center align-items-center"
             style="background-image: url('/images/hex-bg.png')">
            <h1 class="text-uppercase wb-text-white">studies services</h1>
        </div>
        <div class="col-8 p-0">
            <img src="/images/microscope.png" alt="cover" class="w-100"/>
        </div>
    </div>

    <div class="space framed-b framed-t d-flex justify-content-center align-items-center">
        <h2 class="text-uppercase">{{ 'similarities with medicament protocols'|trans }}</h2>
    </div>

    <div class="framed-b d-flex justify-content-center align-items-center">
        <p class="p-5 text-center w-75 m-0">
            {{ 'Skin care product testing often resembles the protocols of medicament testing.
            It is a long sequencial process which aims to protect the voluntary testers, measure performance, record
            side-effects.
            For the most serious cosmetic labs, it is not rare to spend over 18 months gathering and analyzing the
            results of the following stages.'|trans }}
        </p>
    </div>

    <div class="p-5">
        <img src="/images/schema1.png" alt="steps-schema" class="w-100"/>
    </div>

    <div class="space framed-b framed-t d-flex justify-content-center align-items-center mt-5">
        <h2 class="text-uppercase">{{ 'what makes wired beauty different?'|trans }}</h2>
    </div>

    <div class="p-5">
        <img src="/images/schema2.png" alt="steps-schema" class="w-100"/>
    </div>

{% endblock %}