{% extends 'base.html.twig' %}

{% block body %}
    <div class="row w-100 align-items-center m-0" id="about-cover">
        <div class="col-4 p-0 d-flex justify-content-center align-items-center"
             style="background-image: url('/images/hex-bg.png')">
            <h1 class="text-uppercase wb-text-white">scientific validation</h1>
        </div>
        <div class="col-8 p-0">
            <img src="/images/abstract-sphere.png" alt="cover" class="w-100"/>
        </div>
    </div>

    <div class="space framed-b framed-t d-flex justify-content-center align-items-center">
        <h2 class="text-uppercase">wired beauty scientific partners</h2>
    </div>

    <div class="framed-b p-5">
        <div class="w-50 mx-auto">
            <p>
                The Wired Beauty technology is the fruit of a scientific consortium uniting the founders of Wired
                Beauty,
                the APHP (Assistance Publique – Hôpitaux de Paris www.APHP.fr and the French Contract Research
                Organization
                (CRO), QIMA www.qima.fr
            </p>
            <p>
                <strong>TOGETHER THEY HAVE:</strong>
            </p>
            <p>
                Demonstrated the power of electrochemistry to decifer antioxydative performance on the skin
                Proved that the Wired Beauty IOT nomadic lab can level with traditionnal chromatography test in less
                than 1
                minute (90% correlation)
                Found that the Wired Beauty IOT nomadic lab device can beat TWELL tests
                Miniaturized the Wired Beauty IOT nomadic device
                Developped the interpretation of the signal algorythm within minutes
            </p>
        </div>
        <div class="d-flex justify-content-around w-50 mx-auto mt-5">
            <a href="#" class="wb-btn-primary text-uppercase">read a study</a>
            <a href="#" class="wb-btn-primary text-uppercase">fill in my study</a>
        </div>
    </div>
{% endblock %}